:root {
  font-size: 16px;
  font-family: 'Din Condensed';
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  height: 100vh;
  width: 100%;
}

.navbar {
  height: 60px;
  width: 100%;
  background-color: #BB3939;
}

.navbar div {
  height: 60px;
  margin: 0 10px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar div .icon-menu {
  cursor: pointer;
}

.navbar div #hamburger {
  width: 25px;
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar div #hamburger div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  border-radius: 25%;
}

.navbar div #logo {
  height: 50px;
  width: 44px;
  background: url("../img/logo.svg") no-repeat;
}

.navbar div #login {
  height: 30px;
  width: 30px;
  background: url("../img/icon_login.svg") no-repeat;
  background-size: contain;
}

.side-menu {
  position: absolute;
  left: -600px;
  width: 100%;
  height: calc(100% - 60px);
  background-color: #BB3939;
}

.side-menu div {
  height: 282px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 30px;
  margin-top: 30px;
  border-left: 2px solid #fff;
}

.side-menu div a {
  color: #fff;
  font-size: 32px;
  letter-spacing: 3.73px;
  text-transform: uppercase;
  margin-left: 30px;
}

.header {
  height: calc(100% - 60px);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  overflow: hidden;
}

.header p {
  font-size: 26px;
  letter-spacing: 5px;
  color: #BB3939;
}

.header p:last-of-type {
  border-top: 2px solid #BB3939;
}
