#desktop-overlay {
    height: 100%;
    width: 527px;
    display: flex;
    flex-direction: column;
    background: url('../img/red_overlay.svg') no-repeat;
    background-size: contain;
    position: absolute;
    left: 60px;

    .overlay-text {
        height: 75%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-left: 2px solid #fff;
        @include vertical-center();

        #logo-desktop {
            height: 270px;
            width: 240px;
            background: url('../img/logo.svg') no-repeat;
            background-size: contain;
            margin: 0 50px;
        }

        #text-desktop {
            color: #fff;
            font-size: 60px;
            letter-spacing: 7px;
            text-transform: uppercase;
            margin: 0 50px;
            line-height: 60px;
        }
    }
}

@media (max-width: 1039px) {
    #desktop-overlay {
        display: none;
    }
}