.navbar {
    z-index: 2;
    height: 60px;
    width: 100%;
    background-color: $red;

    div {
        height: 60px;
        margin: 0 10px;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .icons-first {
            width: 100%;
        }

        .icon-menu {
            cursor: pointer;
            height: 30px;
            width: 30px;
        }

        #hamburger {
            width: 25px;
            height: 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            div {
                width: 25px;
                height: 3px;
                background-color: #fff;
                border-radius: 25%;
            }
        }

        #logo {
            height: 50px;
            width: 44px;
            background: url('../img/logo.svg') no-repeat;
        }

        #login {
            background: url('../img/icon_login.svg') no-repeat;
            background-size: contain;
        }

        #twitter {
            background: url('../img/icon_twitter.svg') no-repeat;
            background-size: contain;
        }

        #facebook {
            background: url('../img/icon_facebook.svg') no-repeat;
            background-size: contain;
        }

        #english {
            background: url('../img/icon_english.svg') no-repeat;
            background-size: contain;
        }

        #dansk {
            background: url('../img/icon_dansk.svg') no-repeat;
            background-size: contain;
        }
    }
}

@media (min-width: 1040px) {
    .navbar {
        width: 60px;
        height: 100%;
        position: absolute;

        div {
            height: 100%;
            width: 60px;
            margin: 0;
            flex-direction: column;
            justify-content: flex-start;

            .icon-menu {
                margin-top: 15px;
            }

            .icons-second {
                justify-content: flex-end;

                #dansk {
                    margin-bottom: 15px;
                }
            }
        }
    }
}

