.section {
    height: 358px;
    width: 100%;
    background: $red;

    .section-text {
        height: 100%;
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        div {
            display: flex;
            align-items: center;
        }

        h1, p {
            color: #fff;
        }

        h1 {
            font-size: 32px;
            letter-spacing: 3.73px;
            text-transform: uppercase;
        }

        p {
            font-size: 26px;
            letter-spacing: 5px;
        }
    }
}